/*  your css code here. If applicable */
h1{
	color:white;
	background-color:black;
}
#first-child
{
	color:white ;
	background-color:black;
}
#nth-child(2)
{
	color:nth-child(2);
}
#last-child
{
	color:red;
}
#s
{
	background-color:gray;
}
#fo
{
	background-color:gray;
}
#fi
{
	font-size:22px;
	background-color:white;

}
#th
{
	background-color:white;
	background-color:pink;
}
#fl
{
	font-size:22px;
	background-color:white;
	background-color:pink;
}
*{
	width:50%;
	padding:10px;
}
*{
	background-color:rgb(135,206,235);
}