:root{
	background-color:rgb(135,206,235);
}
p:first-child{
	background-color:black;
	color:white;
}
p:nth-child(2){
	color:Standard text color;
}
p:last-child{
	color:red;
}

.items ul li:nth-child(1){
	background-color:white;
}
.items ul li:nth-child(2){
	background-color:grey;
}
.items ul li:nth-child(4){
	background-color:grey;
}
.items ul li:nth-child(5){
	background-color:white;
}
.items ul li:nth-child(3){
	background-color:pink;
}